<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>آب و هوا</title>
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        <form onsubmit="searchLocation(event)">
            <input placeholder="موقعیت خود را بصورت 'کشور , استان , شهر' و به زبان انگلیسی وارد کنید" id="inputLocation">
            <button>رصد</button>
        </form>
        <div id="loaderWrapper">
            <div class="loader" id="loader"></div>
        </div>
        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    {{>footer}}
</body>
<script src="js/app.js"></script>

</html>
